body {
    background-color: hsl(185, 75%, 39%);
     color: hsl(227, 10%, 46%);
     margin: auto;
     padding: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
    }

.profile-card{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: auto;
    /* width: 54vh; */
    width: 24%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding-top: 40px;
    box-sizing: border-box;
    margin: 20px;
}

.idade {
    color: grey;
}

.cidade{
    display: flex;
    justify-content: center;
    padding: 2px;
    margin-top: 3px;
}

.profile-card h2{
    margin: 0;
    font-size: 24px;
    color: #333;
}

.profile-card p{
    margin: 20px;
    font-size: 12px;
    color: #666;
} 

.profile-card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
}

.profile-info{
   display: flex;
   align-items: center;
   height: 100%
   flex-direction: column;
   min-width: 0px;
}

.profile-info img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 0px;
    margin-bottom: 10;
}

.info {
    flex-grow: 1;
    text-align: center;
}

.stats{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    color: grey;
    width: 100%;
}

@media(max-width: 450px) {
    h2 {
        color: grey;
    }
}


.stats p{
    font-size: 16px;
    margin: 18 1px;
    
}

.quantidade{
    color: black;
}





 